<html>
<head>
    <title>Ronald V. Williams - developer</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/ronald.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/compiled/ronald.js"></script>
    <%- include('../partials/favicon.ejs'); %>
</head>
<body>
<div class="container">
        <h1 id="title">
                Hi I'm 
                <span class='name name-r'>R</span><span class='name name-o'>o</span><span class='name name-n'>n </span>
                <span class='name name-w'>W</span><span class='name name-i'>i</span><span class='name name-l'>l</span><span class='name name-l1'>l</span><span class='name name-i1'>i</span><span class='name name-a'>a</span><span class='name name-m'>m</span><span class='name name-s'>s</span>
                !
            </h1>
            <p class='lead'>I'm better at web development than you! </p>
    <p class='small'>(there is no real basis for this claim other than my own assertion but...)</p>
    <p class='lead'>IT'S TRUE!</p>
    <p>Need proof? Well look at this javascript! Doing things! </p>
    <div class='move'>
        <i class="fa fa-rocket fa-4x"></i>
    </div>
    <p>Pew pew pew! Rocket.</p>
    <p>More proof? Try typing my name, the konami code, or click anywhere.</p>
</div>
<div class="nav">
    <ul>
        <li><a href="http://github.com/nameofname">github</a></li>
        <li><a href="/life.html">game-o-life</a></li>
        <li><a href="/mortys/mortys-1.4.html">Pocket Morty's reference</a></li>
    </ul>
</div>
<svg id="DotCanvas" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"></svg>
</body>
</html>
