<html>
<head>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/ronald.css' />

    <?php require(dirname(__FILE__) . '/inc/favicon.php'); ?>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/ronald.js"></script>
    <script src="/js/circle.js"></script>
</head>
<body>
<div class="container">
    <h1>Hi I'm Ron Williams!</h1>
    <p class='lead'>I'm better at web development than you! </p>
    <p class='small'>(there is no real basis for this claim other than my own assertion but...)</p>
    <p class='lead'>IT'S TRUE!</p>
    <p>Need proof? Well look at this javascript! Doing things! </p>
    <div class='row'>
        <div class='col-xs-1 move'>
            <i class="fa fa-rocket fa-4x"></i>
        </div>
    </div>
    <p>Pew pew pew! Rocket.</p>
</div>
<div class="nav">
    <ul>
        <li><a href="http://github.com/nameofname">github</a></li>
        <li><a href="/life.html">game-o-life</a></li>
        <li><a href="/mortys/mortys-1.4.html">Pocket Morty's reference</a></li>
    </ul>
</div>
</body>
</html>
